<% if session[:user_id] %>
<table>

<% @users.each do |u|%>
<% if  u.id != session[:user_id] %>
<tr>
	<td>	
		<%= u.full_name %>
	</td>
	<td>		
		<% if @user.user_follows.where(follows_id:u.id).count!=0 %>
			<%= link_to 'Unfollow', :controller => "users", :action => "unfollow",:id=>u.id, :class=>'unfollowBtn' %>
		<% else %>
			<%= link_to 'Follow', :controller => "users", :action => "follow",:id=>u.id %>
		<% end %>
	</td>
</tr>
<% end %>
<% end %>
</table>
<% end %>