header {
  text-align: center;
}

.home-body-wrapper {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.post-outer-wrap {
  width: 90%;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  background-color: #D0D0D0;
  border-radius: 3em;

}

.post-inner-wrap {
  border: 1px #01579B solid;
  text-align: right;
  font-weight: bold;
  border-radius: 10px;
  background-color: #E1F5FE;
  color:#01579B;
  padding:0.5em;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: .5em;
  margin-bottom: 1em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#postMessage{
  text-align: left;
  border: 1px #01579B solid;
  color:black;
  font-style: normal;
  border-width: 0 0 1px 0;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.comment-link {
  text-align: center;
  display:block;
}

.outer-comment-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
}

.new-comment-box {
  display: none;
}

.inner-comment-wrapper {
  color: white;
  border: black solid 1px;
  height: 12em;
  width: 12em;
  margin: 2em;
  padding:0.5em;
  border-radius: 10px;
  background-color: #0066FF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.comment-message {
  text-align: left;
  border: 1px white solid;
  font-style: normal;
  border-width: 0 0 1px 0;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.comment-info {
  text-align: right;
}

#delete-button {
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 2px;
}

#delete-button:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
