#banner{
	height: 6em;
	background-color: #607D8B;
	margin-bottom:1em;
}
#userFollowsContainer {
	clear: both;
}
#profileTable{
	padding: 1em;
}


.profilelabel {
	color:red;
}

#banner a{
	color: red;
}
#userContainer{
	display: flex;
	justify-content: space-around;
	border: 1px black solid;
	margin-top: 1em;
}

#userInfo{
	border: 1px black solid;
	margin:1em;
	width: 30%;
}

#userPosts{
	border: 1px black solid;
	margin:1em;
	padding:1em;
	width: 50%;
	background-color: #607D8B;
}

#postContainer{
	border: 1px #01579B solid;
	text-align: right;
	font-style: bold;
	padding:0.5em;
	 border-radius: 10px;
	 background-color: #E1F5FE;
	 color:#01579B;
}

#postMessage{
	text-align: left;
	border: 1px #01579B solid;
	color:black;
	font-style: normal;
	border-width: 0 0 1px 0;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}

.newPostText{
	height: 20em;
	padding: 0;
	margin:auto;
	width: 100%;
	resize: none;
}

#newPostContainer{
	border: 1px black solid;
	height: 20em;
	display: flex;
}

#newPostContainer form{
	margin: auto;
	width: 90%;
	font-size: 20px;
}

#newPostContainer input {
	width: 100%;
	margin: auto;
	font-size: 24px;
}
#newPostContainer input:hover {
	background-color: #01579B;
	color: white;
	border-radius: 10px;
	font-size: 14px;
}

